<a href="https://colab.research.google.com/github/dafidsky18-ai/kawan-makan-steamlit-demo/blob/main/database_food.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# Importing libararies
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
# ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Display maximum Rows and Columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [26]:
df=pd.read_csv('dataset_FAO.csv', encoding='latin-1')
# Print First Five Rows
df.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,Y1971,Y1972,Y1973,Y1974,Y1975,Y1976,Y1977,Y1978,Y1979,Y1980,Y1981,Y1982,Y1983,Y1984,Y1985,Y1986,Y1987,Y1988,Y1989,Y1990,Y1991,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,1928.0,1904.0,1666.0,1950.0,2001.0,1808.0,2053.0,2045.0,2154.0,1819.0,1963.0,2215.0,2310.0,2335.0,2434.0,2512.0,2282.0,2454.0,2443.0,2129.0,2133.0,2068.0,1994.0,1851.0,1791.0,1683.0,2194.0,1801.0,1754.0,1640.0,1539.0,1582.0,1840.0,1855.0,1853.0,2177.0,2343.0,2407.0,2463.0,2600.0,2668.0,2776.0,3095.0,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,183.0,183.0,182.0,220.0,220.0,195.0,231.0,235.0,238.0,213.0,205.0,233.0,246.0,246.0,255.0,263.0,235.0,254.0,270.0,259.0,248.0,217.0,217.0,197.0,186.0,200.0,193.0,202.0,191.0,199.0,197.0,249.0,218.0,260.0,319.0,254.0,326.0,347.0,270.0,372.0,411.0,448.0,460.0,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,76.0,76.0,76.0,76.0,76.0,75.0,71.0,72.0,73.0,74.0,71.0,70.0,72.0,76.0,77.0,80.0,60.0,65.0,64.0,64.0,60.0,55.0,53.0,51.0,48.0,46.0,46.0,47.0,46.0,43.0,43.0,40.0,50.0,46.0,41.0,44.0,50.0,48.0,43.0,26.0,29.0,70.0,48.0,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,237.0,237.0,237.0,238.0,238.0,237.0,225.0,227.0,230.0,234.0,223.0,219.0,225.0,240.0,244.0,255.0,185.0,203.0,198.0,202.0,189.0,174.0,167.0,160.0,151.0,145.0,145.0,148.0,145.0,135.0,132.0,120.0,155.0,143.0,125.0,138.0,159.0,154.0,141.0,84.0,83.0,122.0,144.0,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,210.0,210.0,214.0,216.0,216.0,216.0,235.0,232.0,236.0,200.0,201.0,216.0,228.0,231.0,234.0,240.0,228.0,234.0,228.0,226.0,210.0,199.0,192.0,182.0,173.0,170.0,154.0,148.0,137.0,144.0,126.0,90.0,141.0,150.0,159.0,108.0,90.0,99.0,72.0,35.0,48.0,89.0,63.0,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [27]:
# Lets check the columns present in the Dataset
print(f"The Number of Columns present in the Dataset are:\n {df.columns}")

The Number of Columns present in the Dataset are:
 Index(['Area Abbreviation', 'Area Code', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Unit', 'latitude', 'longitude', 'Y1961',
       'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969',
       'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977',
       'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985',
       'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993',
       'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013'],
      dtype='object')

In [28]:
# Lets check the Unique values present in the Data
df.nunique()

Area Abbreviation     169
Area Code             174
Area                  174
Item Code             117
Item                  115
Element Code            2
Element                 2
Unit                    1
latitude              173
longitude             174
Y1961                1197
Y1962                1215
Y1963                1209
Y1964                1236
Y1965                1259
Y1966                1263
Y1967                1283
Y1968                1300
Y1969                1309
Y1970                1322
Y1971                1351
Y1972                1360
Y1973                1374
Y1974                1388
Y1975                1405
Y1976                1410
Y1977                1411
Y1978                1463
Y1979                1473
Y1980                1477
Y1981                1469
Y1982                1508
Y1983                1528
Y1984                1540
Y1985                1538
Y1986                1563
Y1987                1592
Y1988                1613
Y1989                1622
Y1990                1621
Y1991                1632
Y1992                1747
Y1993                1785
Y1994                1796
Y1995                1796
Y1996                1807
Y1997                1810
Y1998                1844
Y1999                1859
Y2000                1892
Y2001                1881
Y2002                1909
Y2003                1935
Y2004                1944
Y2005                1963
Y2006                1987
Y2007                1994
Y2008                2028
Y2009                2029
Y2010                2046
Y2011                2081
Y2012                2084
Y2013                2107
dtype: int64

In [29]:
# Lets check the Data Structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21477 entries, 0 to 21476
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Area Abbreviation  21477 non-null  object
 1   Area Code          21477 non-null  int64
 2   Area               21477 non-null  object
 3   Item Code          21477 non-null  int64
 4   Item               21477 non-null  object
 5   Element Code       21477 non-null  int64
 6   Element            21477 non-null  object
 7   Unit               21477 non-null  object
 8   latitude           21477 non-null  float64
 9   longitude          21477 non-null  float64
 10  Y1961              17938 non-null  float64
 11  Y1962              17938 non-null  float64
 12  Y1963              17938 non-null  float64
 13  Y1964              17938 non-null  float64
 14  Y1965              17938 non-null  float64
 15  Y1966              17938 non-null  float64
 16  Y1967              17938 non-null  float64
 17  Y1968              17938 non-null  float64
 18  Y1969              17938 non-null  float64
 19  Y1970              17938 non-null  float64
 20  Y1971              17938 non-null  float64
 21  Y1972              17938 non-null  float64
 22  Y1973              17938 non-null  float64
 23  Y1974              17938 non-null  float64
 24  Y1975              17938 non-null  float64
 25  Y1976              17938 non-null  float64
 26  Y1977              17938 non-null  float64
 27  Y1978              17938 non-null  float64
 28  Y1979              17938 non-null  float64
 29  Y1980              17938 non-null  float64
 30  Y1981              17938 non-null  float64
 31  Y1982              17938 non-null  float64
 32  Y1983              17938 non-null  float64
 33  Y1984              17938 non-null  float64
 34  Y1985              17938 non-null  float64
 35  Y1986              17938 non-null  float64
 36  Y1987              17938 non-null  float64
 37  Y1988              17938 non-null  float64
 38  Y1989              17938 non-null  float64
 39  Y1990              18062 non-null  float64
 40  Y1991              18062 non-null  float64
 41  Y1992              20490 non-null  float64
 42  Y1993              20865 non-null  float64
 43  Y1994              20865 non-null  float64
 44  Y1995              20865 non-null  float64
 45  Y1996              20865 non-null  float64
 46  Y1997              20865 non-null  float64
 47  Y1998              20865 non-null  float64
 48  Y1999              20865 non-null  float64
 49  Y2000              21128 non-null  float64
 50  Y2001              21128 non-null  float64
 51  Y2002              21128 non-null  float64
 52  Y2003              21128 non-null  float64
 53  Y2004              21128 non-null  float64
 54  Y2005              21128 non-null  float64
 55  Y2006              21373 non-null  float64
 56  Y2007              21373 non-null  float64
 57  Y2008              21373 non-null  float64
 58  Y2009              21373 non-null  float64
 59  Y2010              21373 non-null  float64
 60  Y2011              21373 non-null  float64
 61  Y2012              21477 non-null  int64
 62  Y2013              21477 non-null  int64
dtypes: float64(53), int64(5), object(5)
memory usage: 10.3+ MB

In [30]:
# lets check the shape of Data
print(df.shape)
# print the number of Rows and Columns in Data
print("Number of rows in Data:", df.shape[0])
print("Number of columns in Data:", df.shape[1])

(21477, 63)
Number of rows in Data: 21477
Number of columns in Data: 63

In [31]:
df.isnull().sum().sort_values(ascending=False)

Y1963                3539
Y1964                3539
Y1965                3539
Y1962                3539
Y1961                3539
Y1975                3539
Y1974                3539
Y1973                3539
Y1972                3539
Y1971                3539
Y1970                3539
Y1969                3539
Y1968                3539
Y1967                3539
Y1966                3539
Y1978                3539
Y1979                3539
Y1976                3539
Y1977                3539
Y1980                3539
Y1981                3539
Y1983                3539
Y1982                3539
Y1989                3539
Y1988                3539
Y1987                3539
Y1986                3539
Y1985                3539
Y1984                3539
Y1991                3415
Y1990                3415
Y1992                 987
Y1999                 612
Y1998                 612
Y1993                 612
Y1994                 612
Y1995                 612
Y1996                 612
Y1997                 612
Y2002                 349
Y2003                 349
Y2000                 349
Y2001                 349
Y2004                 349
Y2005                 349
Y2006                 104
Y2007                 104
Y2010                 104
Y2011                 104
Y2008                 104
Y2009                 104
Element                 0
Element Code            0
Area Code               0
Area Abbreviation       0
Unit                    0
latitude                0
Item                    0
Item Code               0
Area                    0
longitude               0
Y2012                   0
Y2013                   0
dtype: int64

In [32]:
print('There is no missing values present in Data')

There is no missing values present in Data

In [34]:
entity_count = df['Area'].nunique()
print("Number of unique areas:", entity_count)

Number of unique areas: 174

In [36]:
# Count the occurrences of each entity name
entity_counts = df['Area'].value_counts()

# Get the entity name with the maximum occurrence
max_entity= entity_counts.idxmax()
# Find the entity name with the minimum occurrence
min_entity = df['Area'].value_counts().idxmin()
# Print the Entity which have maximum and minimum occurance
print("Entity with the maximum occurrence:", max_entity)
print("Entity with the minimum occurrence:", min_entity)

Entity with the maximum occurrence: Spain
Entity with the minimum occurrence: Lesotho

In [38]:
# Count the occurrences of each entity name
entity_counts = df['Area'].value_counts()

# Get the top 5 entities with the maximum occurrence
max_entities = entity_counts.nlargest(5).index.tolist()

# Get the bottom 5 entities with the minimum occurrence (changed from 35 to 5 for better readability)
min_entities = entity_counts.nsmallest(5).index.tolist()

# Print the names of the entities with the maximum occurrence
print("Names of entities with the maximum occurrence:")
for entity in max_entities:
    print(entity)

# Print the names of the entities with the minimum occurrence
print("\nNames of entities with the minimum occurrence:")
for entity in min_entities:
    print(entity)

Names of entities with the maximum occurrence:
Spain
Italy
Germany
China, mainland
Japan

Names of entities with the minimum occurrence:
Lesotho
Afghanistan
Timor-Leste
Turkmenistan
Sao Tome and Principe

In [41]:
# Get descriptive statistics for numerical columns
display(df.describe())

,Area Code,Item Code,Element Code,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,Y1971,Y1972,Y1973,Y1974,Y1975,Y1976,Y1977,Y1978,Y1979,Y1980,Y1981,Y1982,Y1983,Y1984,Y1985,Y1986,Y1987,Y1988,Y1989,Y1990,Y1991,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
count,21477.000000,21477.000000,21477.000000,21477.000000,21477.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,18062.000000,18062.000000,20490.000000,20865.000000,20865.000000,20865.000000,20865.000000,20865.000000,20865.000000,20865.000000,21128.000000,21128.000000,21128.000000,21128.000000,21128.000000,21128.000000,21373.000000,21373.000000,21373.000000,21373.000000,21373.000000,21373.000000,21477.000000,21477.000000
mean,125.449411,2694.211529,5211.687154,20.450613,15.794445,195.262069,200.782250,205.464600,209.925577,217.556751,225.988962,230.419222,238.415487,244.340952,250.262237,254.238655,257.454677,267.323336,267.126547,274.443528,276.573364,285.963095,299.790166,305.835099,305.666072,311.656428,320.981157,326.911473,339.557866,344.345468,351.743227,361.941800,363.976363,372.351656,375.418115,379.449950,386.007760,389.309370,397.079607,404.490822,415.261922,421.623053,428.878505,441.677019,451.771819,458.723826,465.458964,472.693298,486.690742,493.153256,496.319328,508.482104,522.844898,524.581996,535.492069,553.399242,560.569214,575.557480
std,72.868149,148.973406,146.820079,24.628336,66.012104,1864.124336,1884.265591,1861.174739,1862.000116,2014.934333,2100.228354,2132.244717,2189.166883,2266.964627,2322.967733,2372.627182,2421.964322,2528.042608,2365.411987,2464.376834,2427.373749,2555.249955,2757.473984,2768.374398,2730.433908,2774.265032,2931.209478,3002.929914,3101.632149,3094.241689,3231.480597,3312.098595,3236.741120,3349.602911,3422.824069,3453.922037,3509.290447,3555.648726,3714.324984,3754.281929,3962.388448,4036.101905,4149.057052,4340.531660,4649.579544,4751.597094,4868.625666,4911.216237,5001.782008,5100.057036,5134.819373,5298.939807,5496.697513,5545.939303,5721.089425,5883.071604,6047.950804,6218.379479
min,1.000000,2511.000000,5142.000000,-40.900000,-172.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-169.000000,-246.000000
25%,63.000000,2561.000000,5142.000000,6.430000,-11.780000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,120.000000,2640.000000,5142.000000,20.590000,19.150000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,6.000000,6.000000,6.000000,6.000000,6.000000,7.000000,7.000000,7.000000,7.000000,7.000000,8.000000,8.000000,8.000000
75%,188.000000,2782.000000,5142.000000,41.150000,46.870000,21.000000,22.000000,23.000000,24.000000,25.000000,26.000000,27.000000,28.000000,29.000000,30.000000,30.000000,31.000000,32.000000,33.000000,34.000000,35.000000,37.000000,38.000000,39.750000,41.000000,42.000000,43.000000,44.000000,45.000000,46.000000,48.000000,50.000000,51.000000,53.000000,53.000000,54.000000,56.000000,58.000000,58.000000,60.000000,61.000000,63.000000,62.000000,65.000000,67.000000,68.000000,70.000000,71.000000,75.000000,77.000000,78.000000,80.000000,82.000000,83.000000,83.000000,86.000000,88.000000,90.000000
max,276.000000,2961.000000,5521.000000,64.960000,179.410000,112227.000000,109130.000000,106356.000000,104234.000000,119378.000000,118495.000000,118725.000000,127512.000000,134937.000000,131871.000000,143407.000000,147793.000000,142439.000000,118872.000000,123842.000000,126359.000000,128840.000000,142403.000000,147401.000000,151742.000000,157179.000000,172222.000000,182221.000000,187020.000000,188438.000000,189999.000000,190010.000000,189180.000000,192403.000000,201072.000000,193224.000000,197464.000000,202770.000000,204581.000000,208137.000000,210855.000000,221456.000000,229928.000000,255625.000000,311110.000000,327370.000000,352172.000000,354850.000000,360767.000000,373694.000000,388100.000000,402975.000000,425537.000000,434724.000000,451838.000000,462696.000000,479028.000000,489299.000000

In [59]:
df_filtered = df[(df['Item'] == 'Maize and products') & (df['Unit'] == '1000 tonnes')]
display(df_filtered.head())

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,Y1971,Y1972,Y1973,Y1974,Y1975,Y1976,Y1977,Y1978,Y1979,Y1980,Y1981,Y1982,Y1983,Y1984,Y1985,Y1986,Y1987,Y1988,Y1989,Y1990,Y1991,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,210.0,210.0,214.0,216.0,216.0,216.0,235.0,232.0,236.0,200.0,201.0,216.0,228.0,231.0,234.0,240.0,228.0,234.0,228.0,226.0,210.0,199.0,192.0,182.0,173.0,170.0,154.0,148.0,137.0,144.0,126.0,90.0,141.0,150.0,159.0,108.0,90.0,99.0,72.0,35.0,48.0,89.0,63.0,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200
5,AFG,2,Afghanistan,2514,Maize and products,5142,Food,1000 tonnes,33.94,67.71,403.0,403.0,410.0,415.0,415.0,413.0,454.0,448.0,455.0,383.0,386.0,416.0,439.0,445.0,451.0,463.0,439.0,451.0,440.0,437.0,407.0,384.0,371.0,353.0,334.0,330.0,298.0,287.0,265.0,279.0,245.0,170.0,272.0,289.0,310.0,209.0,173.0,192.0,141.0,66.0,93.0,170.0,117.0,231.0,67.0,82.0,67.0,69.0,71.0,82.0,73.0,77,76
89,ALB,3,Albania,2514,Maize and products,5521,Feed,1000 tonnes,41.15,20.17,7.0,6.0,24.0,4.0,4.0,36.0,45.0,43.0,6.0,20.0,16.0,28.0,14.0,32.0,69.0,76.0,69.0,92.0,89.0,70.0,110.0,120.0,125.0,103.0,84.0,100.0,88.0,81.0,127.0,110.0,78.0,119.0,134.0,154.0,166.0,181.0,172.0,164.0,194.0,205.0,204.0,198.0,202.0,225.0,234.0,265.0,254.0,283.0,285.0,374.0,358.0,356,361
90,ALB,3,Albania,2514,Maize and products,5142,Food,1000 tonnes,41.15,20.17,149.0,153.0,158.0,166.0,166.0,166.0,170.0,175.0,181.0,184.0,187.0,188.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,176.0,184.0,181.0,175.0,178.0,171.0,158.0,156.0,126.0,114.0,79.0,20.0,20.0,20.0,24.0,10.0,8.0,8.0,10.0,16.0,10.0,10.0,10.0,8.0,9.0,9.0,9.0,9.0,9.0,9.0,8.0,6,6
212,DZA,4,Algeria,2514,Maize and products,5521,Feed,1000 tonnes,28.03,1.66,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10.0,5.0,10.0,65.0,125.0,150.0,130.0,75.0,235.0,320.0,270.0,470.0,600.0,830.0,775.0,830.0,1320.0,890.0,750.0,775.0,800.0,950.0,750.0,716.0,845.0,953.0,823.0,910.0,1100.0,1320.0,1100.0,1360.0,1400.0,1400.0,1400.0,1400.0,1400.0,1750.0,2400.0,2250,2400

In [60]:
import plotly.express as px

fig = px.bar(df_filtered, x='Area', y='Y2013', title='Maize Production (1000 tonnes) by Area in 2013')
fig.show()

In [64]:
df_rice_filtered = df[(df['Item'] == 'Rice (Milled Equivalent)') & (df['Unit'] == '1000 tonnes')]
display(df_rice_filtered.head())

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,Y1971,Y1972,Y1973,Y1974,Y1975,Y1976,Y1977,Y1978,Y1979,Y1980,Y1981,Y1982,Y1983,Y1984,Y1985,Y1986,Y1987,Y1988,Y1989,Y1990,Y1991,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,183.0,183.0,182.0,220.0,220.0,195.0,231.0,235.0,238.0,213.0,205.0,233.0,246.0,246.0,255.0,263.0,235.0,254.0,270.0,259.0,248.0,217.0,217.0,197.0,186.0,200.0,193.0,202.0,191.0,199.0,197.0,249.0,218.0,260.0,319.0,254.0,326.0,347.0,270.0,372.0,411.0,448.0,460.0,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
85,ALB,3,Albania,2805,Rice (Milled Equivalent),5521,Feed,1000 tonnes,41.15,20.17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
86,ALB,3,Albania,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,41.15,20.17,2.0,3.0,5.0,5.0,6.0,6.0,7.0,7.0,8.0,9.0,6.0,7.0,9.0,7.0,8.0,8.0,9.0,12.0,10.0,14.0,9.0,16.0,11.0,10.0,14.0,17.0,15.0,15.0,21.0,17.0,20.0,16.0,21.0,122.0,218.0,29.0,18.0,26.0,20.0,18.0,19.0,25.0,25.0,23.0,24.0,30.0,27.0,20.0,23.0,24.0,21.0,22,25
208,DZA,4,Algeria,2805,Rice (Milled Equivalent),5521,Feed,1000 tonnes,28.03,1.66,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,3.0,0.0,13.0,14.0,14.0,0.0,0.0,5.0,2.0,0.0,1.0,1.0,1.0,1.0,6.0,2,2
209,DZA,4,Algeria,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,28.03,1.66,8.0,5.0,5.0,5.0,5.0,4.0,6.0,7.0,8.0,6.0,8.0,13.0,17.0,6.0,9.0,7.0,15.0,14.0,10.0,22.0,22.0,19.0,23.0,23.0,25.0,25.0,21.0,22.0,22.0,27.0,24.0,38.0,42.0,43.0,33.0,42.0,53.0,24.0,41.0,54.0,25.0,96.0,60.0,65.0,51.0,66.0,73.0,94.0,73.0,102.0,80.0,105,117

In [73]:
# Filter the year 2013
df_1=df[df['Year']==2013]
# lets check the Rice Production(tonnes) in the year 2021 according to this Data
rice_production_2013=df_1.groupby('Entity')['Rice  Production ( tonnes)'].sum()

KeyError: 'Year'

In [ ]:
# Total rice production
total_rice_production_2021=rice_production_2021.sum()
# percentage of rice in year 2021
percentage_of_rice_2021=(rice_production_2021)/(total_rice_production_2021)*100
# print the percentage of rice produced by entity
print("The percentage of rice produced by each Entity in the Year 2021 is:", percentage_of_rice_2021)

In [74]:
display(df_rice_filtered.describe())

,Area Code,Item Code,Element Code,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,Y1971,Y1972,Y1973,Y1974,Y1975,Y1976,Y1977,Y1978,Y1979,Y1980,Y1981,Y1982,Y1983,Y1984,Y1985,Y1986,Y1987,Y1988,Y1989,Y1990,Y1991,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
count,255.000000,255.0,255.000000,255.000000,255.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,214.000000,214.000000,243.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,255.000000,255.000000
mean,124.627451,2805.0,5262.388235,22.072902,21.062314,578.773585,621.896226,658.051887,699.547170,707.811321,733.882075,748.051887,776.481132,792.084906,857.150943,875.740566,882.674528,904.518868,924.372642,964.061321,971.471698,1012.971698,1044.070755,1054.575472,1081.721698,1106.537736,1181.952830,1229.193396,1249.457547,1280.750000,1284.476415,1323.915094,1357.212264,1385.976415,1401.761682,1370.738318,1229.736626,1245.310484,1263.161290,1298.076613,1326.036290,1342.116935,1359.729839,1396.205645,1388.448413,1398.500000,1412.015873,1412.123016,1432.964286,1452.480159,1467.043307,1490.937008,1534.283465,1552.051181,1569.129921,1591.149606,1595.243137,1611.294118
std,72.572245,0.0,176.794763,23.725814,66.472623,3008.269980,3294.953444,3542.659051,3838.218626,3920.886406,4105.606849,4220.179171,4328.834901,4369.704926,4868.386533,4944.690999,5002.013657,5175.135549,5261.727655,5510.155691,5499.652674,5818.365339,6097.101838,6089.497311,6181.840044,6262.793753,6947.459015,7314.493105,7383.989047,7575.297742,7546.695702,7711.615144,7938.962455,8060.721080,8268.165573,7841.475862,7383.625929,7590.916777,7700.626613,7898.496508,8014.728361,8117.835047,8221.134965,8335.839457,8295.522906,8286.310758,8279.408546,8245.276362,8375.593233,8507.808383,8529.137787,8612.755387,8864.654970,8938.298798,9054.173317,9191.268953,9140.729220,9173.083775
min,1.000000,2805.0,5142.000000,-40.900000,-172.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,66.000000,2805.0,5142.000000,7.540000,-8.240000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.750000,2.000000,2.000000,1.750000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.750000,4.000000,4.750000,4.000000,5.750000,5.750000,5.000000,6.000000,6.000000,3.000000,3.000000,3.000000,3.000000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.750000,5.000000,5.000000,5.000000,6.000000,7.000000,7.000000,6.250000,7.000000,7.000000,7.000000
50%,119.000000,2805.0,5142.000000,21.520000,19.700000,12.000000,11.000000,12.500000,13.000000,14.000000,15.500000,17.000000,16.000000,15.500000,19.000000,20.500000,18.500000,21.000000,22.000000,23.000000,24.500000,24.500000,25.000000,26.500000,27.500000,25.500000,26.500000,28.500000,28.000000,29.500000,34.000000,33.000000,37.000000,36.000000,38.500000,39.500000,36.000000,32.000000,34.500000,35.000000,36.000000,34.500000,32.500000,37.000000,36.000000,37.000000,42.500000,44.000000,46.500000,44.000000,45.000000,48.000000,51.000000,49.500000,51.500000,53.500000,54.000000,52.000000
75%,186.500000,2805.0,5521.000000,41.610000,54.885000,77.250000,82.750000,94.000000,97.500000,97.750000,97.250000,96.000000,108.000000,115.250000,119.500000,114.000000,126.500000,136.000000,137.000000,149.000000,145.500000,145.750000,149.250000,153.250000,158.250000,156.500000,171.250000,157.000000,181.250000,181.500000,181.250000,190.750000,205.250000,201.250000,197.500000,231.000000,183.000000,170.000000,177.750000,174.250000,196.000000,194.500000,213.500000,208.750000,226.000000,220.500000,257.250000,264.250000,284.750000,291.250000,291.500000,299.500000,333.000000,340.500000,340.500000,363.250000,382.500000,396.500000
max,276.000000,2805.0,5521.000000,64.960000,179.410000,30617.000000,32438.000000,36802.000000,41924.000000,44800.000000,48040.000000,47801.000000,48073.000000,48075.000000,56072.000000,58217.000000,59168.000000,61795.000000,63079.000000,64487.000000,65422.000000,67623.000000,72029.000000,74274.000000,74155.000000,74814.000000,85087.000000,88883.000000,89665.000000,90853.000000,90731.000000,90745.000000,90217.000000,90614.000000,95282.000000,86891.000000,88212.000000,90792.000000,92085.000000,95489.000000,96711.000000,98079.000000,99344.000000,100048.000000,100690.000000,100658.000000,100622.000000,99939.000000,100004.000000,100676.000000,101234.000000,101221.000000,104423.000000,105363.000000,106350.000000,109404.000000,107956.000000,108321.000000

In [68]:
# Prepare data for plotting: Group by 'Area' and sum 'Y2013'
rice_production_2013 = df_rice_filtered.groupby('Area')['Y2013'].sum().reset_index()

# Create bar plot
fig = px.bar(rice_production_2013, x='Area', y='Y2013', title='Rice Production (1000 tonnes) by Area in 2013')
fig.show()

In [76]:
staple_crops = ['Maize Production (tonnes)', 'Rice  Production ( tonnes)', 'Wheat Production (tonnes)']
staple_data = df[['Year'] + staple_crops]
staple_data['Year'] = staple_data['Year'].astype(int)
grouped_data = staple_data.groupby('Year')[staple_crops].sum()
grouped_data.plot(kind='line')
plt.xlabel('Year')
plt.ylabel('Production (tonnes)')
plt.title('Production Evolution of Maize, Rice, and Wheat')
plt.legend()
plt.show()

KeyError: "None of [Index(['Year', 'Maize Production (tonnes)', 'Rice  Production ( tonnes)',\n       'Wheat Production (tonnes)'],\n      dtype='object')] are in the [columns]"

## Filter data

### Subtask:
Filter the DataFrame to include only rows for 'Maize and products', 'Rice (Milled Equivalent)', and 'Wheat and products' with the unit '1000 tonnes'.

**Reasoning**:
Filter the DataFrame to include only the specified staple crops and unit.

In [78]:
staple_crops_list = ['Maize and products', 'Rice (Milled Equivalent)', 'Wheat and products']
df_staple_filtered = df[df['Item'].isin(staple_crops_list) & (df['Unit'] == '1000 tonnes')]
display(df_staple_filtered.head())

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,Y1971,Y1972,Y1973,Y1974,Y1975,Y1976,Y1977,Y1978,Y1979,Y1980,Y1981,Y1982,Y1983,Y1984,Y1985,Y1986,Y1987,Y1988,Y1989,Y1990,Y1991,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,1928.0,1904.0,1666.0,1950.0,2001.0,1808.0,2053.0,2045.0,2154.0,1819.0,1963.0,2215.0,2310.0,2335.0,2434.0,2512.0,2282.0,2454.0,2443.0,2129.0,2133.0,2068.0,1994.0,1851.0,1791.0,1683.0,2194.0,1801.0,1754.0,1640.0,1539.0,1582.0,1840.0,1855.0,1853.0,2177.0,2343.0,2407.0,2463.0,2600.0,2668.0,2776.0,3095.0,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,183.0,183.0,182.0,220.0,220.0,195.0,231.0,235.0,238.0,213.0,205.0,233.0,246.0,246.0,255.0,263.0,235.0,254.0,270.0,259.0,248.0,217.0,217.0,197.0,186.0,200.0,193.0,202.0,191.0,199.0,197.0,249.0,218.0,260.0,319.0,254.0,326.0,347.0,270.0,372.0,411.0,448.0,460.0,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,210.0,210.0,214.0,216.0,216.0,216.0,235.0,232.0,236.0,200.0,201.0,216.0,228.0,231.0,234.0,240.0,228.0,234.0,228.0,226.0,210.0,199.0,192.0,182.0,173.0,170.0,154.0,148.0,137.0,144.0,126.0,90.0,141.0,150.0,159.0,108.0,90.0,99.0,72.0,35.0,48.0,89.0,63.0,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200
5,AFG,2,Afghanistan,2514,Maize and products,5142,Food,1000 tonnes,33.94,67.71,403.0,403.0,410.0,415.0,415.0,413.0,454.0,448.0,455.0,383.0,386.0,416.0,439.0,445.0,451.0,463.0,439.0,451.0,440.0,437.0,407.0,384.0,371.0,353.0,334.0,330.0,298.0,287.0,265.0,279.0,245.0,170.0,272.0,289.0,310.0,209.0,173.0,192.0,141.0,66.0,93.0,170.0,117.0,231.0,67.0,82.0,67.0,69.0,71.0,82.0,73.0,77,76
83,ALB,3,Albania,2511,Wheat and products,5521,Feed,1000 tonnes,41.15,20.17,10.0,18.0,15.0,15.0,15.0,14.0,13.0,14.0,16.0,14.0,18.0,20.0,21.0,21.0,23.0,24.0,24.0,26.0,27.0,32.0,38.0,24.0,28.0,25.0,25.0,24.0,22.0,23.0,22.0,21.0,15.0,20.0,30.0,20.0,20.0,40.0,40.0,30.0,30.0,35.0,30.0,32.0,28.0,28.0,28.0,30.0,28.0,28.0,30.0,26.0,25.0,20,18

**Reasoning**:
Identify the year columns and melt the DataFrame to a long format, then display the head of the melted DataFrame to verify the transformation.

In [80]:
year_cols = [col for col in df_staple_filtered.columns if col.startswith('Y')]
df_melted = pd.melt(df_staple_filtered,
                    id_vars=['Area', 'Item', 'Element'],
                    value_vars=year_cols,
                    var_name='Year',
                    value_name='Value')
display(df_melted.head())

          Area                      Item Element   Year   Value
0  Afghanistan        Wheat and products    Food  Y1961  1928.0
1  Afghanistan  Rice (Milled Equivalent)    Food  Y1961   183.0
2  Afghanistan        Maize and products    Feed  Y1961   210.0
3  Afghanistan        Maize and products    Food  Y1961   403.0
4      Albania        Wheat and products    Feed  Y1961    10.0

## Aggregate data

### Subtask:
Group the reshaped data by 'Year' and 'Item' and sum the production values to get the total production for each item in each year across all areas.

In [82]:
df_aggregated_production = df_melted.groupby(['Year', 'Item'])['Value'].sum().reset_index()
display(df_aggregated_production.head())

    Year                      Item     Value
0  Y1961        Maize and products  168039.0
1  Y1961  Rice (Milled Equivalent)  122700.0
2  Y1961        Wheat and products  138829.0
3  Y1962        Maize and products  168305.0
4  Y1962  Rice (Milled Equivalent)  131842.0

In [84]:
fig = px.line(df_aggregated_production, x='Year', y='Value', color='Item',
              title='Production Evolution of Maize, Rice, and Wheat (1000 tonnes)')
fig.update_layout(xaxis_title='Year', yaxis_title='Production (1000 tonnes)')
fig.show()

## Summary:

### Data Analysis Key Findings

*   The analysis focused on the production of 'Maize and products', 'Rice (Milled Equivalent)', and 'Wheat and products' measured in '1000 tonnes'.
*   The data was successfully aggregated to show the total production for each of these staple crops per year across all areas.
*   A line plot was generated to visualize the trend of production for each crop over the years.

### Insights or Next Steps

*   The generated plot clearly shows the production trends for Maize, Rice, and Wheat, allowing for easy visual comparison of their growth over time.
*   Further analysis could involve comparing production trends with other factors like population growth, climate data, or policy changes to identify potential correlations.